{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'list-alt' %} Submissões do edital:<br><small>{{ edital.numero }}: {{ edital.descricao }}</small>
{% endblock %}


{% block content %}
	<div class="panel panel-default">
	  <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="{{ edital.get_submissoes_aprovadas_list_url }}" class="btn btn-lg btn-success" style="width:100%;">Listar {{ edital.submissoes_aprovadas|length }} Aprovadas</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="{{ edital.get_submissoes_reprovadas_list_url }}" class="btn btn-lg btn-danger" style="width:100%;">Listar {{ edital.submissoes_reprovadas|length }} Reprovadas</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="{{ edital.get_submissoes_todas_list_url }}" class="btn btn-lg btn-primary" style="width:100%;">Listar {{ edital.submissoes|length }} Todas</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Filtrando por submissões: <strong>{{ situacao|title }}</strong></p>
            </div>
        </div>
	  </div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
	  		<thead>
				<th>Programa</th>
	  			<th>Título</th>
	  			<th>Responsável</th>
				<th>Colaboradores</th>	
				<th>Área do projeto</th>  			
	  			<th class="text-center">Editar</th>
	  			<th class="text-center">Excluir</th>
	  		</thead>
	  		<tbody>
	  			{% for submissao in object_list %}
					<tr>
						<td>{{ submissao.programa }}</td>
						<td>{{ submissao.titulo }}</td>
						<td>
							{{  submissao.responsavel|default_if_none:'' }}
						</td>
						<td>
							{% for c in submissao.colaborador.all %}
								{{ c }}
								{% if forloop.last %}
								.
								{% else %}
								,
								{% endif %}
							{% empty %}
								<i>Nenhum colaborador informado</i>
							{% endfor %}
						</td>
						<td>
							{{  submissao.area|default_if_none:'' }}
						</td>
						<td class="text-center">
							{% if submissao.permite_alterar %}
								{% bootstrap_button content='' href=submissao.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
							{% else %}
								{% bootstrap_button content='' href='#' button_type='link' icon='edit' button_class='btn btn-primary disabled' size='sm' %}
							{% endif %}
					  	</td>
					  	<td class="text-center">
							{% if submissao.permite_alterar %}
								{% bootstrap_button content='' href=submissao.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
							{% else %}
								{% bootstrap_button content='' href='#' button_type='link' icon='trash' button_class='btn btn-danger disabled' size='sm' %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
	  		</tbody>
		</table>
	</div>
{% endblock %}