{% extends 'appprofessor/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'user' %} Produção Científica do Professor
{% endblock %}


{% block content %}
<form class="form" role="form" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {%comment%}
    {% bootstrap_form form %}
  {%endcomment%}

  <table class="table table-condensed table-responsive">
    <thead>
      <tr>
        <th>Produção Científica nos últimos 3 anos</th><th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{ form.pc_artigos_qualis_a1_cinco_autores.label }}<br><small>Ajuda: {{form.pc_artigos_qualis_a1_cinco_autores.help_text}}</small></td>
          <td>{{ form.pc_artigos_qualis_a1_cinco_autores }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_a1_mais_cinco_autores_primeiro_ultimo.label }}</td>
        <td>{{ form.pc_artigos_qualis_a1_mais_cinco_autores_primeiro_ultimo }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_a1_mais_cinco_autores_demais.label }}</td>
        <td>{{ form.pc_artigos_qualis_a1_mais_cinco_autores_demais }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_a2_cinco_autores.label }}</td>
        <td>{{ form.pc_artigos_qualis_a2_cinco_autores }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_a2_mais_cinco_autores_primeiro_ultimo.label }}</td>
        <td>{{ form.pc_artigos_qualis_a2_mais_cinco_autores_primeiro_ultimo }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_a2_mais_cinco_autores_demais.label }}</td>
        <td>{{ form.pc_artigos_qualis_a2_mais_cinco_autores_demais }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b1_b2_cinco_autores.label }}</td>
        <td>{{ form.pc_artigos_qualis_b1_b2_cinco_autores }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b1_b2_mais_cinco_autores_primeiro_ultimo.label }}</td>
        <td>{{ form.pc_artigos_qualis_b1_b2_mais_cinco_autores_primeiro_ultimo }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b1_b2_mais_cinco_autores_demais.label }}</td>
        <td>{{ form.pc_artigos_qualis_b1_b2_mais_cinco_autores_demais }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b3_b4_cinco_autores.label }}</td>
        <td>{{ form.pc_artigos_qualis_b3_b4_cinco_autores }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b3_b4_mais_cinco_autores_primeiro_ultimo.label }}</td>
        <td>{{ form.pc_artigos_qualis_b3_b4_mais_cinco_autores_primeiro_ultimo }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b3_b4_mais_cinco_autores_demais.label }}</td>
        <td>{{ form.pc_artigos_qualis_b3_b4_mais_cinco_autores_demais }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b5_c_cinco_autores.label }}</td>
        <td>{{ form.pc_artigos_qualis_b5_c_cinco_autores }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b5_c_mais_cinco_autores_primeiro_ultimo.label }}</td>
        <td>{{ form.pc_artigos_qualis_b5_c_mais_cinco_autores_primeiro_ultimo }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_artigos_qualis_b5_c_mais_cinco_autores_demais.label }}</td>
        <td>{{ form.pc_artigos_qualis_b5_c_mais_cinco_autores_demais }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_trabalhos_anais_eventos.label }}</td>
        <td>{{ form.pc_trabalhos_anais_eventos }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_resumos_anais_eventos.label }}</td>
        <td>{{ form.pc_resumos_anais_eventos }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_licenca_direito.label }}</td>
        <td>{{ form.pc_licenca_direito }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_autoria_livros.label }}</td>
        <td>{{ form.pc_autoria_livros }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_autoria_livros_capitulos.label }}</td>
        <td>{{ form.pc_autoria_livros_capitulos }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_orientador_teses_doutorado.label }}</td>
        <td>{{ form.pc_orientador_teses_doutorado }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_orientador_mestrado.label }}</td>
        <td>{{ form.pc_orientador_mestrado }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_orientador_iniciacao_cientifica.label }}</td>
        <td>{{ form.pc_orientador_iniciacao_cientifica }}</td>
      </tr>
      <tr>
        <td>{{ form.pc_orientador_trabalho_final_curso.label }}</td>
        <td>{{ form.pc_orientador_trabalho_final_curso }}</td>
      </tr>
    
    </tbody>
  </table>
  
  {% buttons submit='Gravar' %}
    <a href="javascript:history.go(-1);" class="btn btn-info" role="button">Voltar</a>
  {% endbuttons %}
</form>
{% endblock %}
